/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

#toTop {
	width:100px;
	border:1px solid #ccc;
	background:#f7f7f7;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:10px; /* отступ кнопки от нижнего края страницы*/
	right:10px;
	cursor:pointer;
	display:none;
	color:#333;
	font-family:verdana;
	font-size:11px;
	}

	/* @import url(color.css) screen and (color); */

	html,body{
		height: 100%;
	}
	/*Стили для демонстрации*/
	body{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	.wrapper{
		display: flex;
		min-height: 100%;
		overflow: hidden;
		flex-direction: column;
	}
	
	.container{
		max-width: 1200px;
		margin: 0px auto;
		padding: 0px 15px;
	}

	.content-container{
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		max-height: 500px;
		max-width: 600px;
		display: flex;
		padding: 20px 0px 10px 20px;
		flex-direction: row;
		justify-content: flex-end;
		background-color: #333;
		color:antiquewhite;
		box-shadow: 2px 5px 5px rgba(51, 51, 51, 0.705);
		text-align:justify;
		line-height: 1.25;
		border-radius: 20px;
		transition: 0.7s;
		font-size: 100%;
	}

	@media (max-width:960px){
		.content-container{
			max-width: 275px;
			max-height: fit-content;
		}
	}

	.content-container:hover{
		transform: scale(1.05);
	}

	.content-container h2{
		padding: 0px 0px 12px 0px;
	}


	.content-container_column{
		flex-direction: column;
	}

	.content-container img{
			width: 100%;
			max-width: 50%;
			padding: 10px;
	}

	@media (max-width:960px){
		.content-container img{
			width: 35%;
		}
	}


	.content-container span{
		font-size: medium;
	}

	

	
	
	
	.header {
		background-color: #5e5373;
	}
	.header__row {
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items:stretch;
	}
	.header__logo {
		width: 70px;
		height: 70px;
		border-radius: 20px;
		background-color: #c0b5b5;
	}

	.img-logo {
		width: 70px;
		height: 70px;
	}

	
	.five-block {
		margin: 0px 0px 15px 0px;
	}
	
	
	
	.five-block__title {
		font-size: 50px;
		margin: 0px 0px 40px 0px;
	}


	.five-block__row{
		display: flex;
		justify-content: center;
		margin: 2% -35%;
	}

	.five-block__column {
		flex: 0 1 100%;
		padding: 0px 15px;
		margin: 20px 70px 15px 70px;
	}

	.five-block__item {
		border-radius: 20px;
		background-color: #000000dd;
		padding: 15px;
	}

	.five-block__image img{
		max-width: 100%;
	}
	
	.five-block__text {
		color: #fff;
		line-height: 25px;
	}
	
	.two-block {
		margin: 0px 0px 15px 0px;
	}
	.two-block__row {
		display: flex;
		margin: 0px -15px;
	}

	@media (max-width:960px) {
		.content-container{
			font: size 50px;;
			max-width: 500px;
			max-height: fit-content;
		}
		.content-container img{
			width: 50%;
			height: fit-content;
		}
	}


	@media (max-width:1200px){
		.container{
			max-width: 970px;
		}
	}
	@media (max-width:992px){
		.container{
			max-width: 750px;
		}
	}
	@media (max-width:767px){
		.container{
			max-width: none;
		}
	}


	@media (max-width:992px){
		.five-block__title {
			margin: 0px 0px 30px 0px;
		}
	}
	@media (max-width:767px){
		.five-block__title {
			font-size: 30px;
			margin: 0px 0px 15px 0px;
		}
	}
	

	@media (max-width:767px){
		.five-block__row{
			flex-wrap: wrap;
			margin: 0px;
		}
	}
	

	@media (min-width:767px){
		.five-block__column {
			flex: 0 1 20%;
			margin: 0px;
		}
	}

	@media (max-width:767px){
		.two-block__row {
			flex-wrap: wrap;
		}
	}
	@media (max-width:767px){
		.two-block__column {
			flex: 0 1 100%;
		}
	}

	.two-block__column {
		flex: 0 1 50%;
		padding: 0px 15px;
		margin: 0px 0px 15px 0px;
	}

	
	.page{
		flex: 1 1 auto;
		padding: 30px 0;
		margin-top: 70px;
	}
	
	.footer {
		background-color: #000000be;
		text-align: center;
		padding: 15px;
		color: rgba(240, 248, 255, 0.59);
	}

	@media (max-width:960px)
	{
		.footer{
			font-size:medium;
		}
	}

	.slider {
		width: 300px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		margin-top: 5%;
	  }
	
	  
	  .slides {
		display: flex;
		
		
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		
	  }
	  .slides::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	  }
	  .slides::-webkit-scrollbar-thumb {
		background: black;
		border-radius: 10px;
	  }
	  .slides::-webkit-scrollbar-track {
		background: transparent;
	  }
	  .slides > div {
		scroll-snap-align: start;
		flex-shrink: 0;
		width: 300px;
		height: 300px;
		margin-right: 50px;
		border-radius: 10px;
		background: #eee;
		transform-origin: center center;
		transform: scale(1);
		transition: transform 0.5s;
		position: relative;
		
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 100px;
	  }

	  
	  .slider > a {
		display: inline-flex;
		width: 1.5rem;
		height: 1.5rem;
		background: white;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin: 0 0 0.5rem 0;
		position: relative;
	  }
	  .slider > a:active {
		top: 1px;
		color: #eee;
	  }
	  .slider > a:focus {
		background: #000;
	  }
	  
	  .a1{
		color: #000;
	  }

	 .h2s1{
		text-align: center;
		padding: 5% 0px 1% 0px
	 }

	 .h2s2{
		text-align: left;
		padding: 10% 0% 0% 10%;
	 }
	 
	 .y-video{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: 600px;
		margin-top: 50px;
		max-height: 500px;
		max-width: 1000px;
		display: flex;
		padding: 20px 0px 10px 20px;
	 }
	 
	 @media (max-width:760px){
		.y-video{
			height: 300px;
		}
	 }

	 .about-text{
		text-align: left;
		padding: 2% 0% 0% 10%;
		font-size:150%;
	 }

	 @media (max-width:960px){
		.about-text{
			font-size: 100%;
		}
	 }

	 .smart-button{
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		object-fit:fill;
		display: flex;
		justify-content: center;
		background-color: transparent;
	 }
	 
	 .smart-button img{
		height:100%;
		width:fit-content;
	 }

	 @media (max-width:960px){
		.smart-button img{
			width: 75%;
			height: 75%;
		}
	 }
	 
	 @media (max-width:760px){
		.smart-button img{
			width: 60%;
			height: 60%;
		}
	 }

	 .dialog {
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		max-width: 500px;
		object-fit:fill;
		display: flex;
		justify-content: center;
		background-color: transparent;
		width:fit-content;
	 }

	 @media (max-width:960px){
		.dialog {
			width: 75%;
			height: 75%;
		}
	 }

	 @media (max-width:760px){
		.dialog {
			width: 60%;
			height: 60%;
		}
	 }

	 .smart-button:hover{
		transform: scale(1.2);
	 }

	 .sotrudniki {
		width: 300px;
		height: 300px;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		display: flex;
		justify-content:left;
		background: url('../img/sotrudniki.png');
		animation: sotrudniki 8s steps(1) infinite;
		border: #eee;
		border-radius: 40px;
		}

		@keyframes sotrudniki {
			0% {background-position: 0px 0px;}
			20% {background-position: -600px 0px;}
			40% {background-position: -1200px 0px;}
			60% {background-position: -1800px 0px;}
			80% {background-position: -2400px 0px;}
		}